<div class='charSheetBox'>

  <div class='form-group subMain'>
    <div class='menuhrbox' style='width: 25px;'>
      <hr class='menuhr' />
    </div>
    {{localize 'CRADLE.System.charProg'}}
    <div class='menuhrbox' style='flex: 1;'>
      <hr class='menuhr' />
    </div>
  </div>

  <div class='class-features-container'>
    {{#if sacredArtistClass}}
      <div class='form-group subMain'>
        <div class='menuhrbox' style='width: 25px;'><hr class='menuhr' /></div>
        {{sacredArtistClass.name}}
        {{localize 'CRADLE.System.Features'}}
        <div class='menuhrbox' style='flex: 1;'><hr class='menuhr' /></div>
      </div>

      <ul class='feature-list'>
        {{#each sacredArtistClass.system.features as |feature key|}}
          <li class='feature-item'>
            <h4 class='feature-name'>{{feature.name}}</h4>
            <div class='feature-description'>
              {{{feature.description}}}
            </div>
          </li>
        {{/each}}
      </ul>

    {{else}}
      <div class='no-class-prompt'>
        Drag and drop the "Sacred Artist" class item onto this sheet to see its
        features.
      </div>
    {{/if}}
  </div>

</div>