<div class="charSheetBox">

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;">
            <hr class="menuhr">
        </div>
        {{localize "CRADLE.System.abilityProg"}}
        <div class="menuhrbox" style="flex: 1;">
            <hr class="menuhr">
        </div>
    </div>

    <div class="charStatfieldset" style="color: #b6031b;">
        <h1 class="charStatlegend">{{localize "CRADLE.System.PHYS"}}</h1>
        <div class="charStatBox" style="left: 12px;"><span class="charResHead">{{localize "CRADLE.System.StrShort"}}</span></br><span
                class="charResValue">{{system.abilityScores.physical.strength.total}}</span></div>
        <div class="charStatBox" style="left: 74px;"><span class="charResHead">{{localize "CRADLE.System.StrShort"}}</span></br><span
                class="charResValue">{{system.abilityScores.physical.agility.total}}</span></div>
        <div class="charStatBox" style="left: 136px;"><span class="charResHead">{{localize "CRADLE.System.AC"}}</span></br><span
                class="charResValue">{{system.baseValues.armorClass.physical}}</span></div>
    </div>

    <div class="charStatfieldset" style="color: #3549b8;">
        <h1 class="charStatlegend">{{localize "CRADLE.System.MEN"}}</h1>
        <div class="charStatBox" style="left: 12px;"><span class="charResHead">{{localize "CRADLE.System.IntShort"}}</span></br><span
                class="charResValue">{{system.abilityScores.mental.intellect.total}}</span></div>
        <div class="charStatBox" style="left: 74px;"><span class="charResHead">{{localize "CRADLE.System.WilShort"}}</span></br><span
                class="charResValue">{{system.abilityScores.mental.willpower.total}}</span></div>
        <div class="charStatBox" style="left: 136px;"><span class="charResHead">{{localize "CRADLE.System.AC"}}</span></br><span
                class="charResValue">{{system.baseValues.armorClass.mental}}</span></div>
    </div>

    <div class="charStatfieldset" style="color: #9e9e9e;">
        <h1 class="charStatlegend">{{localize "CRADLE.System.SPR"}}</h1>
        <div class="charStatBox" style="left: 12px;"><span class="charResHead">{{localize "CRADLE.System.AwaShort"}}</span></br><span
                class="charResValue">{{system.abilityScores.spiritual.awareness.total}}</span></div>
        <div class="charStatBox" style="left: 74px;"><span class="charResHead">{{localize "CRADLE.System.PreShort"}}</span></br><span
                class="charResValue">{{system.abilityScores.spiritual.presence.total}}</span></div>
        <div class="charStatBox" style="left: 136px;"><span class="charResHead">{{localize "CRADLE.System.AC"}}</span></br><span
                class="charResValue">{{system.baseValues.armorClass.spiritual}}</span></div>
    </div>

    <div class='form-group subMain'>
    <div class='menuhrbox' style='width: 25px;'>
      <hr class='menuhr' />
    </div>
    Actions
    <div class='menuhrbox' style='flex: 1;'>
      <hr class='menuhr' />
    </div>
  </div>
</div>