<div>
    <div class="sideBarBox">

        <div class="imgBox">
            <img class="charImg" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}">
        </div>

        <div class="ressBarBox">
            <div class="ressBarHeader">{{localize "CRADLE.System.HP"}}</div>
            <div class="ressBar">
                <div class="ressBarBar ressBarHealth" style="width: {{barWidth system.baseValues.health.value system.baseValues.health.max}}%;"></div>
            </div>
            <div class="ressBarValue">
                <input type="number" name="system.baseValues.health.value" value="{{system.baseValues.health.value}}" />
                <span>/</span>
                <input type="number" name="system.baseValues.health.max" value="{{system.baseValues.health.max}}" />
            </div>
        </div>

        <div class="ressBarBox">
            <div class="ressBarHeader">{{localize "CRADLE.System.MP"}}</div>
            <div class="ressBar">
                <div class="ressBarBar ressBarStamina" style="width: {{barWidth system.baseValues.madra.value system.baseValues.madra.max}}%;"></div>
            </div>
            <div class="ressBarValue">
                <input type="number" name="system.baseValues.madra.value" value="{{system.baseValues.madra.value}}" />
                <span>/</span>
                <input type="number" name="system.baseValues.madra.max" value="{{system.baseValues.madra.max}}" />
            </div>
        </div>

        <div class="ressBarBox">
            <div class="ressBarHeader">{{localize "CRADLE.System.FP"}}</div>
            <div class="ressBar">
                <div class="ressBarBar ressBarMana" style="width: {{barWidth system.baseValues.focus.value system.baseValues.focus.max}}%;"></div>
            </div>
            <div class="ressBarValue">
                <input type="number" name="system.baseValues.focus.value" value="{{system.baseValues.focus.value}}" />
                <span>/</span>
                <input type="number" name="system.baseValues.focus.max" value="{{system.baseValues.focus.max}}" />
            </div>
        </div>

        <div class="ressBarBox">
            <div class="ressBarHeader">{{localize "CRADLE.System.SP"}}</div>
            <div class="ressBar">
                <div class="ressBarBar ressBarLuck" style="width: {{barWidth system.baseValues.madra.strain 10}}%;"></div>
            </div>
            <div class="ressBarValue">
                <input type="number" name="system.baseValues.madra.strain" value="{{system.baseValues.madra.strain}}" />
                <span>/ 10</span>
            </div>
        </div>
        </div>

    <div class="menuBox">

        <div class="menuBG"></div>
        <div class="menuLbl"></div>

        <nav class="tabs menuTabs" data-group="primary-tabs">
            <div class="menuIcon" style="left: 135px;">
                <a class="item" data-tab="tab1" data-group="primary-tabs">
                    <i class="fa-solid fa-book-open-cover"></i>
                </a>
            </div>
            <div class="menuIcon" style="left: 180px;">
                <a class="item" data-tab="tab4" data-group="primary-tabs">
                    <i class="fa-solid fa-swords"></i>
                </a>
            </div>
            <div class="menuIcon" style="left: 225px;">
                <a class="item" data-tab="tab3" data-group="primary-tabs">
                    <i class="fa-regular fa-stars"></i>
                </a>
            </div>
            <div class="menuIcon" style="left: 270px;">
                <a class="item" data-tab="tab5" data-group="primary-tabs">
                    <i class="fa-solid fa-aperture"></i>
                </a>
            </div>
            <div class="menuIcon" style="left: 315px;">
                <a class="item" data-tab="tab2" data-group="primary-tabs">
                    <i class="fa-solid fa-book"></i>
                </a>
            </div>
            <div class="menuIcon" style="left: 360px;">
                <a class="item" data-tab="tab6" data-group="primary-tabs">
                    <i class="fa-solid fa-bezier-curve"></i>
                </a>
            </div>
            <div class="menuSetup" style="left: 405px;">
                <a class="item" data-tab="tab7" data-group="primary-tabs">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                
            </div>
        </nav>

    </div>

    <div class="contentBox">
        <section class="content">
            <div class="tab" data-tab="tab1" data-group="primary-tabs">
                {{> "systems/cradle/templates/partials/character-sheet-character.hbs"}}
            </div>

            <div class="tab" data-tab="tab2" data-group="primary-tabs">
                {{> "systems/cradle/templates/partials/character-sheet-background.hbs"}}
            </div>

            <div class="tab" data-tab="tab3" data-group="primary-tabs">
                {{> "systems/cradle/templates/partials/character-sheet-skill.hbs"}}
            </div>

            <div class="tab" data-tab="tab4" data-group="primary-tabs">
                {{> "systems/cradle/templates/partials/character-sheet-combat.hbs"}}
            </div>

            <div class="tab" data-tab="tab5" data-group="primary-tabs">
                {{> "systems/cradle/templates/partials/character-sheet-progression.hbs"}}
            </div>

            <div class="tab" data-tab="tab6" data-group="primary-tabs">
                Pfade
            </div>

            <div class="tab" data-tab="tab7" data-group="primary-tabs">
                Settings
            </div>
        </section>
    </div>
</div>