<div class="headerBox">
    <div class="logoBox">
        <div class="logoImg"><div class="logoText">{{localize "CRADLE.SystemName"}}</div></div>
    </div>

    <div class="charInfoBox">
        <input class="bigInputText" type="text" name="name" value="{{actor.name}}" >
        <div class="lvlBox">
            <div class="lvlLable">{{localize "CRADLE.System.LevelShort"}}</div>
            <div class="lvlValue">{{system.class.level}}</div>
        </div>
        <div class="charPath">{{system.class.path}}</div>
    </div>
</div>